.footer {
  border-top: 2px solid #383a3b;

  /* box-shadow: 0 1px 0 #f6f3ee, 0 2px 0 #383a3b; */
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Gill Sans";
  margin-top: 4rem;
  position: relative;

  text-transform: capitalize;
}

.footer .footer__wrapper {
  display: block;
  padding-top: 6.4rem;
}

/* First and Second Containers (Top Row) */
.top__row {
  display: flex;
  gap: 2rem;
}

.first__row {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.footer__wrapper .first__row .first__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border-right: 2px solid #9a9a9a;
}

.first__container,
.second__container {
  flex: 1; /* Equal width for both containers */
}

.first__container .review__container img {
  max-width: 20rem;
  max-height: 10rem;
}

.second__container .footer__nav__column2 {
  text-align: center;

  font-family: "Cheltenham";
  font-style: normal;
  font-size: 1.5rem;
}

.second__container .footer__nav__column2 img {
  max-height: 10rem;
  margin-top: 1rem;
}

.footer__wrapper .first__row {
  margin-bottom: 4rem;
}

/* Third Container (Bottom) */
.third__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  border-top: 1px solid #383a3b;
}

.footer__wrapper .third__container .first__box {
  font-family: "Cheltenham";
  font-style: italic;
}

.third__container .third__box img {
  width: 4rem;
}

/* Footer Navigation Wrapper */
.footer__nav__wrapper {
  display: flex;
  justify-content: space-between;
}

/* Footer Navigation Columns */
.footer__nav__column1,
.footer__nav__column3 {
  display: flex;
  align-items: flex-end;
}

/* Footer Navigation Links */
.footer__nav__link {
  all: unset;
}

/* Third Box */
.third__box {
  display: flex;
  gap: 1rem;
}

.footer__nav__column1 .coloumn__wrapper {
  display: flex;
  gap: 5.5rem;
  flex-direction: column;
  text-align: center;
}

.footer__nav__column2 {
  margin-top: 1.5rem;
}

.footer__nav__column3 .coloumn__wrapper {
  display: flex;
  gap: 5.5rem;
  flex-direction: column;
  text-align: center;
}

.footer__wrapper .third__container .first__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__wrapper .third__container .second__box {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Cheltenham";
  font-style: italic;
}

.footer__wrapper .third__container .third__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-style: italic;
}

.third__container .third__box .item2 img {
  width: 4.6rem;
}

/* .third__container .third__box .item3 img {
}

.third__container .third__box .item4 img {
} */

/* mobile footer */

.mobile__footer {
  visibility: hidden;
  display: none;
}

.footer__nav__items__container {
  font-family: "Gill Sans";
  padding: 0 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #383a3b;
}

.mobile__footer__wrapper .footer__nav__logo img {
  width: 10rem;
}

.footer__nav__items__container .footer__nav__col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav__items__container .footer__nav__col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav__item__mobile {
  all: unset;
  cursor: pointer;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  font-style: normal;
  text-decoration: none;
}
.footer__nav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 2rem 0;
  font-family: "Cheltenham";
  font-style: italic;
}

.cafe__nuwara__contact__container {
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 0.8rem;
}
.box__contact__1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box__contact__2 {
  text-align: center;
}

.box__contact__3 {
  text-align: end;
}

.mobile__footer__wrapper .tripadvisor__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__footer__wrapper .tripadvisor__logo img {
  width: 9rem;
}

.powered__by__magicle {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  text-decoration: underline;

  margin: 1rem 0;
}

.third__container .first__box a {
  all: unset;
}

#privacy-policy {
  all: unset;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* Responsive */

@media screen and (max-width: 1344px) {
  /* Styles for screens below 1344px */
  .first__row {
    display: flex;
    flex-direction: column;
  }
  .footer__nav__wrapper {
    flex-direction: column;
  }
  .third__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  /* Styles for screens below 1200px */
}

@media screen and (max-width: 944px) {
  /* Styles for screens below 944px */
}

@media screen and (max-width: 704px) {
  /* Styles for screens below 704px */
}

@media screen and (max-width: 544px) {
  /* Styles for screens below 544px */

  .footer__wrapper .first__row {
    display: none;
  }

  .mobile__footer {
    visibility: visible;
    display: block;
  }

  .footer__wrapper .third__container .second__box {
    display: none;
  }

  .footer__wrapper .third__container .third__box {
    display: flex;
    /* flex-direction: column; */
  }

  .footer__wrapper .third__container .third__box .item1 {
    display: none;
  }

  .footer__wrapper .third__container .third__box .item2 img {
    width: 3rem;
  }

  .footer__wrapper .third__container .third__box .item3 img {
    width: 3rem;
  }

  .footer__wrapper .third__container .third__box .item4 img {
    width: 3rem;
  }

  .footer .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer__wrapper .third__container .third__box {
    grid-area: 1/3 /1/4;
  }

  .footer__wrapper .third__container {
    padding: 0.4rem 3.2rem;
  }
}
