.navbar__responsive__items {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url(/public/assets/img/bg-texture-01.png);
  transition: 1s;

  z-index: 30;
}

/* styling */

.navbar__responsive__items {
  display: flex;
  flex-direction: column;
}

.title__container__mobile {
  display: flex;
  justify-content: space-between;

  padding: 0 3.2rem;
  border-bottom: 2px solid #383a3b;
  box-shadow: 0 1px 0 #f6f3ee, 0 2px 0 #383a3b;
}

.title__container__mobile .mobile__logo {
  padding: 0.5rem 0;

  font-size: 1.2rem;
}

.title__container__mobile img {
  width: 3.2rem;
}

.navbar__responsive__items .nav__items__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  margin: 0 auto;
}

.navbar__responsive__items .nav__items__container {
  margin: 0;
  padding: 0 3.2rem;
}

/* grid-area : row-start , col-start , row-end, col-end */

.link-item {
  all: unset;
}

.mobile__grid__item__1,
.mobile__grid__item__2,
.mobile__grid__item__3,
.mobile__grid__item__4,
.mobile__grid__item__5,
.mobile__grid__item__6,
.mobile__grid__item__7 {
  padding: 20px;
  text-align: center;

  padding: 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: inline-block;
}

.mobile__grid__item__1 {
  grid-area: 1/1/2/2;
}

.mobile__grid__item__2 {
  grid-area: 1/3/2/4;
}

.mobile__grid__item__3 {
  grid-area: 2/1/3/2;
}

.mobile__grid__item__4 {
  grid-area: 2/2/3/3;
}

.mobile__grid__item__5 {
  grid-area: 2/3/3/4;
}

.mobile__grid__item__6 {
  grid-area: 3/1/4/2;
}

.mobile__grid__item__7 {
  grid-area: 3/3/4/4;
}

.title__mobile__about__us {
  padding: 0 20px;

  border-top: 1px #383a3b solid;
}
.title__mobile__about__us h2 {
  font-size: 3rem;
  text-decoration: underline;
}

.content__mobile__about__us {
  padding: 20px;
}

.contact__us__btn__mobile__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__us__btn__mobile__nav button {
  display: block;
}

.mobile__flower {
  display: flex;
  justify-content: center;
}

.mobile__flower img {
  width: 15rem;
  margin: 3rem auto;
}

.about__us__mobile__nav .title__mobile__about__us h2 {
  text-align: center;
  margin-top: 3rem;
}

.about__us__mobile__nav {
  font-size: 1.5rem;
}

/* button styles */

.contact__nav__btn {
  position: relative;
  border-color: transparent;
  font-family: "Cheltenham", Times, serif;
  font-style: italic;
  text-transform: none;
  background-color: #5b5b5b;
  color: #fff;
  filter: none;

  width: 90%;
  font-size: 1.5em;
  padding: 1px 0;
  margin: 1rem 0;

  z-index: -1;
}

.contact__nav__btn:before,
.contact__nav__btn:after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #383a3b;
}

.contact__nav__btn:before {
  top: -1px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 2px);
}

.contact__nav__btn:after {
  top: -4px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 8px);
}
