.second__article__nuwara {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.nuwara__first__content__box img {
  width: 40rem;
}

.nuwara__second__content__box img {
  width: 32rem;
}

.nuwara__second__article__wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;

  margin-top: 5rem !important;
}

.nuwara__second__content__box {
  display: flex;
  flex-direction: column;
}
.first__row__box {
  display: flex;
}

.second__row__box {
  display: flex;
}

/* second article boxes */
/* box 1 */
.nuwara__second__article__wrapper .nuwara__first__content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nuwara__second__article__wrapper .nuwara__first__content__box p {
  margin-top: 1rem;
  max-width: 40rem;
}

/* box 2 */

.nuwara__second__content__box .first__row__box {
  display: flex;
  gap: 2rem;

  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

/* 3rd box */

.nuwara__second__content__box .second__row__box {
  gap: 2rem;
  margin-top: 2rem;
}
#rajasinghe__img {
  height: 410px;
  border: 2px solid #545454;
  padding: 0.5rem;
  object-fit: cover;
}
#royal__palace__img {
  height: 217px;
  object-fit: cover;
}
#flag__paragraph {
  margin-top: 1rem;
}

/* Responsive */

@media screen and (max-width: 1344px) {
  /* Styles for screens below 1344px */
}

@media screen and (max-width: 1200px) {
  /* Styles for screens below 1200px */
}

@media screen and (max-width: 944px) {
  /* Styles for screens below 944px */
}

@media screen and (max-width: 704px) {
  /* Styles for screens below 704px */
}

@media screen and (max-width: 544px) {
  /* Styles for screens below 544px */

  .nuwara__second__article__wrapper {
    display: flex;
    flex-direction: column;
  }

  #rajasinghe__img {
    width: 100%;
  }

  .nuwara__second__article__wrapper
    .nuwara__second__content__box
    .first__row__box {
    display: block;
    padding-top: 3rem;
  }

  .nuwara__second__article__wrapper
    .nuwara__second__content__box
    .first__row__box
    img {
    width: 100%;
  }

  .nuwara__second__article__wrapper
    .nuwara__second__content__box
    .second__column__box
    img {
    width: 100%;
  }

  .nuwara__second__article__wrapper
    .nuwara__second__content__box
    .second__row__box
    img {
    width: 100%;
  }

  .nuwara__second__article__wrapper
    .nuwara__second__content__box
    .second__row__box {
    display: flex;
    flex-direction: column;
  }
}
