.kandy__first__article {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.article__wrapper .title__kandy h2 {
  font-size: 4rem;
  font-style: normal;
}

.article__wrapper .title__kandy img {
  margin: 0;
  padding: 0;
  width: 15rem;
}

/* mala haduwa */

.article__wrapper .title__kandy .rink {
  width: 100rem;
  height: 5rem;
}

.title__kandy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__paragraph__nuwara p {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

#first__paragraph__second__p {
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}

.separator__image img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

/* Responsive */

@media screen and (max-width: 1344px) {
  /* Styles for screens below 1344px */
}

@media screen and (max-width: 1200px) {
  /* Styles for screens below 1200px */
}

@media screen and (max-width: 944px) {
  /* Styles for screens below 944px */
}

@media screen and (max-width: 704px) {
  /* Styles for screens below 704px */
}

@media screen and (max-width: 544px) {
  /* Styles for screens below 544px */

  .kandy__first__article .title__kandy h2 {
    font-size: 2.3rem;
  }

  .kandy__first__article .title__kandy img {
    width: 10rem;
  }

  .kandy__first__article .title__kandy .rink {
    width: 30rem;
  }

  .separator__image img {
    width: 100vw;
    height: 10vh;
  }
}
