.our__offerings {
  font-size: 1.7rem;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.our__offerings p {
  text-align: justify;
}

.our__offerings .title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 100;
  margin-bottom: 3rem;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  border-top: black 2px solid;
  padding-top: 1rem;
}

.first__box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 3rem;
}

.first__box .first__content__box img,
.second__box .third__content__box img {
  object-fit: cover;
  /* padding: 0.8rem; */
  border: 2px solid #545454;

  /* margin: 1rem !important; */
}

.first__box .first__content__box img {
  width: 100%;
  padding: 0.8rem;
}

.first__box .second__content__box img {
  width: 35rem;
}

.first__box .third__content__box img {
  width: 35rem;
}

.second__box .first__content__box img {
  width: 40rem;
  padding: 0.8rem;
}

.second__box .second__content__box img {
  width: 40rem;
  padding: 0.8rem;
}

.second__box .third__content__box img {
  width: 35rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.second__box__wrapper {
  display: flex;
  gap: 3rem;
}

.second__box {
  margin-top: 3rem;
}

.our__offerings__wrapper .second__box__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: black 2px solid;
  padding-bottom: 3rem;
}

.second__box__wrapper .first__column .first__content__box {
  display: flex;
  gap: 1rem;
}

.second__box__wrapper .first__column .second__content__box {
  display: flex;
  gap: 1rem;
}

.second__box__wrapper .first__column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.offering__heading {
  font-size: 3rem;
  margin: 1rem 0;
}

/* our offering layout edit */

.first__box__second__layout .second__content__box {
  display: flex;
  gap: 2rem;
}

.first__box__second__layout .third__content__box {
  display: flex;
  gap: 3rem;
}

#barista__img {
  margin-top: 5.7rem;
  padding-bottom: 4.5rem;
  border-bottom: 2px solid #383a3b;
}

#evets__and__parties__heading {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#barista__heading {
  margin-bottom: 2rem;
}

/* Responsive */

@media screen and (max-width: 1344px) {
  /* Styles for screens below 1344px */
  .first__box {
    display: flex;
    flex-direction: column;
  }

  .our__offerings__wrapper .second__box__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  /* Styles for screens below 1200px */
}

@media screen and (max-width: 944px) {
  /* Styles for screens below 944px */
}

@media screen and (max-width: 704px) {
  /* Styles for screens below 704px */
}

@media screen and (max-width: 544px) {
  /* Styles for screens below 544px */

  .first__box .second__content__box {
    display: flex;
    flex-direction: column;
  }

  .first__box .third__content__box {
    display: flex;
    flex-direction: column;
  }

  .second__box .first__content__box {
    display: flex;
    flex-direction: column;
  }

  .second__box .second__content__box {
    display: flex;
    flex-direction: column;
  }

  .first__box .first__content__box img {
    width: 100%;
  }

  .first__box .second__content__box img {
    width: 100%;
  }

  .first__box .third__content__box img {
    width: 100%;
  }

  .second__box .first__content__box img {
    width: 100%;
  }

  .second__box .second__content__box img {
    width: 100%;
  }

  .second__box .third__content__box img {
    width: 100%;
  }
}
